body{
    background-color: royalblue;
}
div.wrapper{
    display: flex;
    justify-content: center;
}
div.box{
    width: 400px;
    height: 400px;
    float: left;
    background-color: darkorange;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}