body{
    background-color: floralwhite;
}
.err{
    color: red;
    font-size: 12pt;
}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #220099;
    color: aliceblue;
    font-size: 24pt;
    margin-bottom: 50px;
}
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 200px;
    background-color: gainsboro;
}
#container form{
    display: flex;
    justify-content: center;
}
#container{
    display: block;
}
