#feed{
    border-color: #220099;
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-content: space-around;
    background-color: rosybrown;
    width: 66vw;
    margin: 12px;
}
.card .name{
    align-self:flex-start;
}
.card .uf{
    align-self:flex-end;
}